<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-6 my-auto">
                <div class="header-content mx-auto">
                    <h2>Welcome to
                        <span style="color: orange;">WildSlack</span>
                    </h2>
                    <br/>
                    <h5 class="mb-5">This is the best live messaging application in town. If tou are not subscribed yet, click on that button
                        down bellow.
                        <br/>If you are, what are you waiting for?</h5>
                    <a routerLink="/register" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
                </div>
            </div>
            <div class="my-login-page col-lg-6 my-auto">
                <div class="my-login-page card">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form ngNativeValidate #userLoginForm="ngForm" (ngSubmit)="OnSubmit(email, password)">
                            <div class="form-group">
                                <label>E-Mail Address</label>
                                <input type="email" class="form-control" name="email" value="" #email ngModel required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="password">Password
                                    <a href="forgot.html" class="float-right">
                                        Forgot Password?
                                    </a>
                                </label>
                                <input type="password" class="form-control" name="password" #password ngModel required data-eye>
                            </div>
                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Login
                                </button>
                            </div>
                            <div class="margin-top20 text-center">
                                Don't have an account?
                                <a routerLink="/register">Create One</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<footer>
    <div class="container">
        <p>&copy; Your Website 2018. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>