<header class="masthead">
<div class="pt-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-md-left text-center align-self-center my-5">
        <h1 class="display-1 mx-auto text-center">Welcome to WildSlack</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-primary w-75 mx-auto btn-block" routerLink="/main-page">Start chat now !!!</a>
      </div>
    </div>
  </div>
</div>
</header>