<div class="container clearfix">  
  <div class="chat">
    
    
    <div class="chat-history">
      <ul>        
          <i class="fa fa-circle online"></i>
          <i class="fa fa-circle online" style="color: #AED2A6"></i>
          <i class="fa fa-circle online" style="color:#DAE9DA"></i>       
          <li *ngFor="let workspace of workspaces">{{workspace.workspaceName}}</li>      
        </ul>
      
    </div> <!-- end chat-history -->
    
    <div class="chat-message clearfix">
      <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>      
      
      <button>Send</button>
      <p><a [routerLink]="['/login']">Logout</a></p>
    </div> <!-- end chat-message -->
    
  </div> <!-- end chat -->
  
</div> <!-- end container -->

