$defaultcolor: #A03A70;
$defaultbg: #efefef;


.list-membre {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin-bottom: 0px;
}


.container .list-group-item {
  border : hidden;

}

