<div class="page-content-wrapper">
  <div class="container-fluid" style="background-color:#ffffff;"><a class="btn btn-link" role="button" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars" style="color:#000000;"></i></a><a href="#" class="a-general" style="color:#000000;">#general</a><img src="assets/img/logoRC.png" class="img-header xs-2">
      <div
          class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" id="menu-member" style="margin-top:0px;margin-left:0px;padding-left:12px;">Stephen&nbsp;</button>
          <div class="dropdown-menu" role="menu"
              style="width:120px;"><a class="dropdown-item" role="presentation" href="#"></a><a class="dropdown-item" role="presentation" href="#">Profil</a><a class="dropdown-item" role="presentation" href="#">Logout</a></div>
  </div>
</div>
</div>
