.container-fluid{
  background-color:#00000046;
  border-radius: 3%;
}
.fa{
  color:#000000;
}

.a-general{
  color:#000000;
}

#menu-member{
  margin-top:0px;
  margin-left:0px;
  padding-left:12px;
}

.dropdown-menu{
  width:120px;
}
