<div class="card" id="list-channel">
  <div class="card-header" role="tab" ><input type="search" id="search-sidebar"><button class="btn btn-primary" type="button" id="btn-search-sidebar">Search</button>
      <h3  *ngIf="lastChannel$ | async as channel" class="text-white text-black-50" id="title-channel">{{channel.name}}</h3>
      <h5 class="text-white mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2" class="channel-title" >New Channel&nbsp;</a></h5>
  </div>
  <form ngNativeValidate class="collapse show item-2" role="tabpanel" data-parent="#accordion-1" id="new-channel"
        #newChannelForm="ngForm"   (ngSubmit)="onSubmit()" >
      <div class="card-body">
        <label class="label-channel" >Name</label>
        <input type="text" id="input-text-channel" name="name" #name [(ngModel)]="channel.name">
        <label>Description</label>
        <input type="text" id="input-text-channel"  name="description" #description [(ngModel)]="channel.description" >
        <button class="btn btn-primary text-right" type="submit">Create</button>
      </div>
  </form>
</div>
<ul class="list-group" id="list-channels">
  <li *ngFor="let channel of channels" (click)="switchChannel(channel)" class="list-group-item"><span></span><a>{{channel.name}}</a></li>
</ul>


