#sidebar-wrapper,
.sidebar-brand,
#accodion-1,
.card-header {
  background-color:#ffffff00;
}

.ws-a{
margin:19px;
padding-top:9px;
margin-top:62px;
margin-bottom:-19px;
color:#000000;
}

.collapse{
  background-color:initial;
}

#list-channel{
  margin-bottom:40px;
  background-color:#ffffff00;
  border: none;

}

.card-header{
  background-color:#ffffff00;
  margin-bottom:30px;
  display:inline-block;
}

.text-white{
  background-color:#ffffff00;
}

.channel-title{
  color:#000000;
}

.label-channel{
  color:#000000;
  background-color:#ffffff00;
  margin-top:10px;
}

.btn{
  margin:5px;
  margin-bottom: 10px;
  margin-right:5%;
}

.list-group-item{
  color:#000000;
  background-color:initial;

}

h5{
  color:#000000;

  margin-top:5px;
  margin-left: 50px;
}

.list-membre{

  color:#ffffff;
}

.members{
  color:#000000;
}

#search-sidebar {
  width: 55%;

}
#btn-search-sidebar {
  width: 35%;


}

#list-channel .card-header {
  border: 0px;
  width: 100%;

}

#list-channels .list-group-item {
  text-align: center;
  border: none;

}
#list-channels a {
  font-size: 100%;
}

#list-channel .btn-secondary {
  margin-left: 10px;
}



.col .btn-secondary {
  border-radius: 50px;
  background: transparent;
  color: #f4a443;
  border: 2px solid #f4a443;
}

#search-sidebar {
   border: 0px;
}

.col h4 {
   color: white;
   margin: 0px;
   margin-top: 5px
}

.col h3{
   color: white;
   text-align: center;

}

.container .list-group-item {
  border : hidden;

}

.card-header {
  border: hidden;
  margin-top : 0px;
}

.card {
  text-align: center;
  width: 95%;
  margin: 0px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);

}

h6{
  margin-bottom: 20px;
}

.btn-sm {
  height: 10%;
  border-radius: 10px;
  background: transparent;
  color: #f4a443;
  border: 2px solid #f4a443;
  font-size: 15px ;

}




















