#sidebar-wrapper,
.sidebar-brand,
#accodion-1,
.card-header {
  background-color:#ffffff;
}

.ws-a{
margin:19px;
padding-top:9px;
margin-top:62px;
margin-bottom:-19px;
color:#000000;
}

.collapse{
  background-color:initial;
}

#list-channel{
  margin-bottom:40px;
  background-color:#ffffff;
}

.card-header{
  background-color:#ffffff
  ;margin-bottom:30px;
  display:inline-block;
}

.text-white{
  margin-top:20px;
  background-color:#ffffff;
}

.channel-title{
  color:#000000;
}

.label-channel{
  color:#000000;
  background-color:#ffffff;
  margin-top:10px;
}

.btn{
  margin:10px;
  margin-right:5%;
}

.list-group-item{
  color:#000000;
  background-color:initial;
  padding:0px;
  padding-left:19px;
}

h5{
  color:#000000;
  margin-left:20px;
  margin-top:20px;
}

.list-membre{

  color:#ffffff;
}

.members{
  color:#000000;
}


