<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">1</li>
  </ul>
  <div role="tablist" id="accordion-1">
      <div class="card">
          <div class="card-header" role="tab">
              <h5 class="mb-1" style="margin-top:10;"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1" class="ws-a" >Workspace 1</a></h5>
          </div>
          <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
              <div class="card-body">
                  <ul class="list-group">
                      <li class="list-group-item"><a href="#">Workspace 1</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="card" id="list-channel">
          <div class="card-header" role="tab" ><input type="search" id="search-sidebar"><button class="btn btn-primary" type="button" id="btn-search-sidebar">Search</button>
              <h3 class="text-white text-black-50" id="title-channel">Channels</h3>
              <h5 class="text-white mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2" class="channel-title" >New Channel&nbsp;</a></h5>
          </div>
          <div class="collapse show item-2" role="tabpanel" data-parent="#accordion-1" id="new-channel">
              <div class="card-body"><label class="label-channel" >Name</label><input type="text" id="input-text-channel"><label>Description</label><input type="text"
                      id="input-text-channel"><button class="btn btn-primary text-right" type="button">Create</button></div>
          </div>
      </div>
  </div>
  <ul class="list-group" id="list-channels">
      <li class="list-group-item"><span></span><a href="#"># channel 1</a></li>
  </ul>
  <h5 >Members</h5>
  <ul class="list-membre">
      <li class="members">Paul</li>
  </ul>
</div>
