#sidebar-wrapper {
  background: #e6e6e6;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
   z-index: 900;
}

.ws-a{
margin:19px;
padding-top:9px;
margin-top:62px;
margin-bottom:-19px;
color:#000000;
}

.collapse{
  background-color:initial;
}

#list-channel{
  margin-bottom:40px;
  background: #e6e6e6;
}

.card-header{
  background: #e6e6e6;
  ;margin-bottom:30px;
  display:inline-block;
}

.text-white{
  margin-top:20px;
  background: #e6e6e6;
}

.channel-title{
  background: #e6e6e6;
}

.label-channel{
  color:#000000;
  background: #e6e6e6;
  margin-top:10px;
}

.btn{
  margin:10px;
  margin-right:5%;
}

.list-group-item{
  color:#000000;
  background: #e6e6e6;
  padding:0px;
  padding-left:19px;
}

h5{
  color:#000000;
  margin-left:20px;
  margin-top:20px;
}

.list-membre{

  color:#ffffff;
}

.members{
  color:#000000;
}


