<div class="card" *ngIf="lastWorkspace$ | async as lastWorkspace">
      <button class="btn btn-secondary dropdown-toggle"type="button" id="dropdownMenuButton" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1"  >{{lastWorkspace.name}}</button>
      <h5 *ngIf="lastWorkspace.name == null " class="mb-1" style="margin-top:10;"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1" class="ws-a" >LOADING</a></h5>

  <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
      <div class="card-body">
          <ul class="list-group">
              <li *ngFor="let workspace of workspaces" class="list-group-item"><a href="#">{{workspace.name}}</a></li>
          </ul>
      </div>
  </div>
</div>
