#sidebar-wrapper,
.sidebar-brand,
#accodion-1,
.card-header {
  background-color:#ffffff00;
}

.ws-a{
color:#000000;
}

.collapse{
  background-color:#ffffff00;
}



.card-header{
  background-color:#ffffff00;

  display:inline-block;
}

.text-white{
  margin-top:20px;
  background-color:#ffffff00;
}

.channel-title{
  color:#000000;
}



.btn{
  margin:10px;
  margin-right:5%;
}

.list-group-item{
  color:#000000;
  background-color:initial;

}

h5{
  color:#000000;

}

.list-membre{

  color:#ffffff;
}

.members{
  color:#000000;
}


.card {
  border-radius: 0px;
  border: 0px;
  background-color: #ffffff00;
}
 .card-header {
  border: none;
  align-items: center;

}
.ws-a h5 {
   width: 100%;

}

.ws-a {
  width: 100%;

}

.mb-1 {
  text-align: center;
}

.card-body {
  text-align: center;
}


.dropdown-toggle.btn-secondary {
  border-radius: 50px;
background: transparent;
color: #f4a443;
border: 2px solid #f4a443;
}

