/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import"assets/device-mockups/device-mockups.min.css";
@import"assets/css/new-age.css";
@import"assets/vendor/bootstrap/css/bootstrap.min.css";
@import"assets/vendor/font-awesome/css/font-awesome.min.css";
@import"assets/vendor/simple-line-icons/css/simple-line-icons.css";
@import"assets/css/login.css";
@import"assets/css/new-age.css";
@import"assets/css/new-age.min.css";
@import"assets/css/Newsletter-Subscription-Form.css";
@import"assets/css/Sidebar-Menu-1.css";
@import"assets/css/Sidebar-Menu.css";
@import"assets/css/styles.css";

$defaultcolor: #A03A70;
$defaultbg: #efefef;

.nooverflowy {
  overflow-y: hidden;
}



.card.side h5 {
  text-align: left;
  color: $defaultcolor;
  font-weight: bold;
}
.card.side .card-header {
  border: hidden;
  background-color: transparent;
}

.card.side {
  text-align: left;
  padding-left: 2em;
  margin-bottom: 16px;
  border-radius: 0;
}

.card.side ul > li:hover {
  color: $defaultcolor;
}
.card.side ul > li:hover {
  cursor: pointer;
}

.btn-primary.app {
  color: #fff;
  background-color: $defaultcolor;
  border-color: $defaultcolor;
}





